# Managing GPS Points: 

### convert between UTM and Lat Lon, and create KML files

This notebook uses two packages which make it super easy to convert back and forth between UTM and Lat/Lon USG84, and to create KML files (which are used by mapping software like Gaia and Garmin GPS units) from a table (or csv file) of points with coordinates.

First, get the packages:
```
pip install utm simplekml
```

## Convert between UTM and Lat/Lon
This part uses the package utm (`pip install utm` to get the package)

In [1]:
import utm
import pandas as pd
import numpy as np

lets create some imaginary points for the sake of example:

In [2]:
points = pd.read_csv('../resources/coords.csv')
points

   point_name   latitude  longitude
0  Peabody MA  42.536457 -70.985786
1   Newton MA  42.341042 -71.217133

### Two easy commands for converting between UTM and Lat/Lon

utm.from_latlon(lat,lon) #returns UTM E, N, zone #, zone letter

utm.to_latlon(easting, northing, zone_num, zone_letter) #returns lat lon

In [3]:
for i, row in points.iterrows():
    utm_E,utm_N,utm_zone,utm_letter = utm.from_latlon(row.latitude,row.longitude)
    points.at[i,'utm_E']=utm_E
    points.at[i,'utm_N']=utm_N
    points.at[i,'utm_zone']=utm_zone
    points.at[i,'utm_letter']=utm_letter
points

,point_name,latitude,longitude,utm_E,utm_N,utm_zone,utm_letter
0,Peabody MA,42.536457,-70.985786,336927.601728,4.711252e+06,19.0,T
1,Newton MA,42.341042,-71.217133,317361.722771,4.690024e+06,19.0,T

The package also convert from UTM to Lat/Lon:

In [4]:
utm.to_latlon(points["utm_E"],points["utm_N"],19,'T')

(0    42.536457
 1    42.341042
 dtype: float64,
 0   -70.985786
 1   -71.217133
 dtype: float64)

## Write KML file from a csv / dataframe of Lat/Lon coordinates

This part uses the package utm (`pip install simplekml` to get the package)

Then we can simply use `kml.newpoint(name, [(lon,lat)])` to add each point and `kml.save(path)` to save a kml file

The simplekml package can do much more involved/fancy things with the points if you want to add more details.

In [7]:
import simplekml

kml=simplekml.Kml()
for i, row in points.iterrows():
    #note that it expects lon, lat rather than lat, lon
    kml.newpoint(name=row['point_name'], 
                 coords=[(row['longitude'],row['latitude'])]
                )

# uncomment this line to save the kml file:
# kml.save('points.kml')